<h1>Register</h1>

<div>
  <%= form_for :user, url: url_for(controller: 'users', action: 'create') do |f| %>
    <p><%= f.text_field :first_name, placeholder: "First Name" %></p>
    <p><%= f.text_field :last_name, placeholder: "Last Name" %></p>
    <p><%= f.email_field :email, placeholder: "Email" %></p>
    <p><%= f.password_field :password, placeholder: "Password" %></p>
    <p><%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %></p>
    <%= f.submit "Register" %>
  <% end %>
</div>

<p><%= link_to "Login", new_session_path %></p>