<h2><%= @concert.band %> Concert</h2>
<table>
  <tr><td>Venue</td><td><%= @concert.venue %></td></tr>
  <tr><td>Date</td><td><%= @concert.date %></td></tr>
  <tr><td>Start Time</td><td><%= @concert.start_time.strftime("%A, %b %e, %Y at %l %p") %></td></tr>
</table>

<br />
<small class="attendees"><%= @concert.attendees_list(current_user) %></small>

<br />
<%= link_to "Concert Listings", concerts_path %>

<% if logged_in? %>
  <% if !@concert.attendees.include? current_user %>

    <!-- @attendance.concert, method: :post -->
    <%= form_for @concert do |f| %>
      <%= f.submit value: "Attend Concert" %>
    <% end %>

  <% end %>
<% end %>
