<!DOCTYPE html>
<html>
  <head>
    <title>RailsCheckpointChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          
          <% if logged_in? %>
            <li><%= link_to "Logout", session_path(current_user), method: :delete %></li>
            <li><%= link_to "Profile", user_path(current_user) %></li>
          <% else %>
            <li><%= link_to "Login", new_session_path %></li>
            <li><%= link_to "Register", new_user_path %></li>
          <% end %>
          
        </ul>
      </nav>
      
      <h1>Concerts Website</h1>
      <%= yield %>
    </main>
  </body>
</html>
